[submodule "EMEHG-fx-controller"]
	path = EMEHG-fx-controller
	url = https://github.com/loicreboursiere/EMEHG-fx-controller
[submodule "hexaandmapping-lib-pd"]
	path = hexaandmapping-lib-pd
	url = https://github.com/loicreboursiere/hexaandmapping-lib-pd
[submodule "EMEHG-AsymetricalPower"]
	path = EMEHG-AsymetricalPower
	url = https://github.com/loicreboursiere/EMEHG-AsymetricalPower
